body {
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
  grid-gap: 10px 10px;
  background: green;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.box {
  border: 4px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

/* MATCHING TEST 2 EXACTLY */

#grid > div:nth-child(1) {
  grid-column: span 4 / auto;
}

#grid > div:nth-child(2) {
  grid-row: span 4 / auto;
}

#grid > div:nth-child(3) {
  /* stays default */
}

#grid > div:nth-child(4) {
  grid-column: span 2 / auto;
}

#grid > div:nth-child(5) {
  grid-column: span 2 / auto;
}

#grid > div:nth-child(6) {
  /* stays default */
}

#grid > div:nth-child(7) {
  /* stays default */
}

#grid > div:nth-child(8) {
  /* stays default */
}

#grid > div:nth-child(9) {
  /* stays default */
}

#grid > div:nth-child(10) {
  grid-column: span 3 / auto;
}
