/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    background: #006400;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 10px;
}

#grid > div {
    background: green;
    border: 5px solid white;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid > div:nth-child(1) {
    grid-column: 1 / 4;
}

#grid > div:nth-child(2) {
    grid-row: 2 / 7;
}

#grid > div:nth-child(3) {
    grid-column: 2 / 3;
}

#grid > div:nth-child(4) {
    grid-column: 3 / 4;
}

#grid > div:nth-child(5) {
    grid-column: 2 / 4;
}

#grid > div:nth-child(6) {
    grid-column: 3 / 4;
}

#grid > div:nth-child(7) {
    grid-column: 2 / 3;
}

#grid > div:nth-child(8) {
    grid-column: 3 / 4;
}

#grid > div:nth-child(9) {
    grid-column: 3 / 4;
}

#grid > div:nth-child(10) {
    grid-column: 2 / 4;
}
