/*  your css code here. If applicable */
body {
  margin: 0;
}

#grid {
  display: grid;
  height: 100vh;
  background: green;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border: 10px solid white;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.box {
  border: 4px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

#grid div:nth-child(1) {
  grid-column: 1 / 4;
}

#grid div:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}

#grid div:nth-child(3) {
  grid-column: 2 / 3;
}

#grid div:nth-child(4) {
  grid-column: 3 / 4;
}

#grid div:nth-child(5) {
  grid-column: 2 / 3;
}

#grid div:nth-child(6) {
  grid-column: 3 / 4;
}

#grid div:nth-child(7) {
  grid-column: 2 / 3;
}

#grid div:nth-child(8) {
  grid-column: 3 / 4;
}

#grid div:nth-child(9) {
  grid-column: 3 / 4;
}

#grid div:nth-child(10) {
  grid-column: 2 / 4;
}